body {
    margin-top: 50px;
}

.input-group .button {
    margin-bottom: 0px;
}

.grey-bg {
    background-color: #d4d4d4;
}

.white-bg {
    background-color: white;
}

#subbed {
    min-width: 100%;
    min-height: 100px;
    cursor: default;
}

#subbed:focus {
    border: 1px solid #8a8a8a;
}

#cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropIcon {
    margin-top: -30%;
    width: 224px;
}

#dropIcon polygon {
    fill: #b5b5b5 !important;
}