registry=https://registry.npmjs.org/
proxy=null
https-proxy=null
strict-ssl=false
//progress=false
init.author.name=Harrison Cross
init.author.email=code@crosshj.com
init.author.url=https://crosshj.com
save-exact=true
